body {
    width: 100%;
}

/*=============================================
=            Section comment block            =
=============================================*/

.rotate-center {
    -webkit-animation: rotate-center 1.5s linear infinite;
    animation: rotate-center 1.5s linear infinite;
}

/*=====  End of Section comment block  ======*/

/*=============================================
// Keyframes section
=============================================*/

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*=====  End of Section comment block  ======*/

/* TODO: map these classes to tailwinds media queries *I/

.SM {
}

.MD {
}
*/
